
pdfplumber
PyMuPDF  
pytesseract
Pillow
regex
nltk
opencv-python-headless  
torch
torchvision
transformers
huggingface_hub
sentence-transformers
langchain
chromadb
tqdm
numpy
scikit-learn
openai
requests
duckduckgo-search
ipython
fastapi
uvicorn
pydantic
python-multipart
aiofiles
python-dotenv
langchain-groq
langchain-community
PyJWT
